* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  text-align: center;
}

.frm {
  width: 40%;
  display: flex;
  gap: 7px;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
  border: 1px solid rgb(82, 79, 79);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-control {
  width: 100%;
}

.input-control p {
  margin: 0px;
  text-align: left;
  font-size: 12px;
  padding-left: 10%;
  color: rgb(240, 119, 119);
}
input {
  padding: 5px;
  width: 85%;
  border-radius: 10px;
  border: 1px solid;
}
button {
  width: 42.5%;
  margin-top: 10px;
  padding: 5px 0;
  border: 1px solid rgb(48, 44, 44);
  border-radius: 10px;
  background-color: rgb(240, 119, 119);
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: rgba(240, 119, 119, 0.7);
  transition: 0.2s;
}

.student-container {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.student-card {
  border: 1px solid rgb(48, 44, 44);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  text-align: left;
  width: 30%;
  font-size: 14px;
  position: relative;
}

.delete-button {
  position: absolute;
  top: 4px;
  right: 7px;
  color: rgb(240, 119, 119);
  font-weight: 600;
  cursor: pointer;
}
